<p style="color: green"><%= notice %></p>

<% content_for :title, "Products" %>

<h1>Products</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= sort_link(@q, :name, "Name") %></th>
      <th scope="col"><%= sort_link(@q, :price, "Price") %></th>
      <th scope="col"><%= sort_link(@q, :created_at, "Created at") %></th>
      <th scope="col"><%= sort_link(@q, :average_rating, "Rating") %></th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= number_to_currency(product.price) %></td>
        <td><%= l(product.created_at, format: :short) %></td>
        <td>
          ∅ <%= pluralize(product.average_rating.round(2), "star") %>
          <br>
          <%= link_to "#{pluralize(product.ratings_count, "rating")}", product_ratings_path(product), class: "text-muted" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "New product", new_product_path, class: "btn btn-primary" %>
